<% provide(:title, "Home") %>
<section id="home">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
		<span>
        <h1>Our Vision</h1>
		
		<h4>InvestBlock is a cryptocurrency hedgefund and investment company. We provide new investors unmatched confidence, knowledge, and security through our unique services designed to make transitioning into the crypto-currency market less intimidating and stress free.
</h4>
		</span>
        </div>
		</div>
</section>

<section id="services" class="bounce-inInverse">
			            <h2 class="text-center">Services</h2>

        <div class="container-fluid">
        <div class="set_size_section1">
            <div class="article_center2">

				<%= link_to investing_path do %>

                <article class="section1_article">
					<%= link_to image_tag("BTC.svg", size: "78x77", alt: "BTC", id: "BTC"), :anchor => "Invest" %> 
				<h3>Investing</h3>
				
                    <p>Our sophisticated team has been trading in the crypto-currency market since 2012. With specialists in Computer Sciences, Finances, Business, and Marketing, our team is capable and produce high capital results as demonstrated in our portfolio.</p>
                    </article>
				<% end %>
                <article class="section1_article">
					<%= link_to image_tag("Banking.svg", size: "95x77", alt: "Banking", id: "Banking"), :anchor => "Introduction" %> 
                    <h3>Crypto Investment Banking</h3>
                    <p>Raise capital for ICO's and altcoins. Our accomplished hedgefund is unique and catered to the cryptocurrency market and is proficient at raising capital on ICOs and altcoins we see potential in.</p>
                </article>
                <article class="section1_article">
					<%= link_to image_tag("Introduction.svg", size: "95x77", alt: "Introduction", id: "Introduction"), :anchor => "Introduction" %> 
                    <h3>Market Introduction</h3>
                    <p>An in-depth introduction into the market. Our market experts will provide extensive knowledge on cryptocurrency, and guide you on your first investment.</p>
                </article>
            </div>
        </div>
		</div>
    </section>

<section id="test">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-left">
		<span>
        <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4>
 <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4> <h1>InvestBlock</h1>
		<h4>is a service created to simplify the cryptocurrency market. Our specialized team has produced high capital results and has made the cryptocurrency market inviting to new investors.
</h4>
		</span>
        </div>
        </div>
</section>