<% provide(:title, "Invest With Us") %>
<div class="container-fluid">

<h1 class="investing-title"><%= image_tag("IB_Square.png", class: "img-thumbnail", alt: "IB_Square", id: "IB_Square") %>
 CryptoCurrency Investing </h1> 

  <svg version="1.1" id="Features-SVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2005.4 777" xml:space="preserve">
  
  <defs>
    <radialGradient id="Features-innerGradient" cx="430.5514" cy="426.0181" r="315.285" gradientTransform="matrix(2.8565 -0.5119 1.0216 1.739 -364.7661 -340.7328)" gradientUnits="userSpaceOnUse">
      <stop offset="0" style="stop-color:#0072FF;stop-opacity:0.2"/>
      <stop offset="1" style="stop-color:#0072FF;stop-opacity:0"/>
    </radialGradient>

    <radialGradient id="Features-bottomGradient" cx="279.3484" cy="483.3498" r="459.4102" gradientTransform="matrix(2.8947 -0.4418 0.494 0.9873 -202.5029 -91.6635)" gradientUnits="userSpaceOnUse">
      <stop offset="0" style="stop-color:#0072FF"/>
      <stop offset="1" style="stop-color:#0072FF;stop-opacity:0"/>
    </radialGradient>

    <linearGradient id="Features-rightGradient" gradientUnits="userSpaceOnUse" x1="1640.8595" y1="373.64" x2="2001.5594" y2="373.64" gradientTransform="matrix(1 0 0 -1 0 763.7801)">
      <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
      <stop offset="1" style="stop-color:#FFFFFF"/>
    </linearGradient>

    <linearGradient id="Features-dropletLineGradient" gradientUnits="userSpaceOnUse" x1="977.4597" y1="777.3409" x2="977.4597" y2="510.8409">
      <stop offset="0" style="stop-color:#0072FF;stop-opacity:0"/>
      <stop offset="1" style="stop-color:#0072FF"/>
    </linearGradient>

    <linearGradient id="Features-leftGradient" gradientUnits="userSpaceOnUse" x1="1.3595" y1="373.64" x2="362.0595" y2="373.64" gradientTransform="matrix(1 0 0 -1 0 763.7801)">
      <stop offset="0" style="stop-color:#FFFFFF"/>
      <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
    </linearGradient>
  </defs>
  <style type="text/css">
    .Features-gradientGroup1 {
      opacity: 0.6;
    }
    .Features-gradientGroup2 {
      opacity: 0.2;
    }
    .Features-bottomGradientShape {
      fill: url(#Features-bottomGradient);
    }
    .Features-innerGradientShape {
      fill: url(#Features-innerGradient);
    }
    .Features-dottedWaveShape {
      fill: none;
      stroke: #C8E2FF;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0,5;
    }
    .Features-blueStroke {
      fill: none;
      stroke: #0072FF;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .Features-dropletLine {
      fill: none;
      stroke: url(#Features-dropletLineGradient);
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0,5;
    }
    .Features-whiteWaveLine {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 16;
      stroke-miterlimit: 10;
    }
    .Features-dot {
      fill: #0072FF;
    }
    .Features-rightGradientShape {
      fill: url(#Features-rightGradient);
    }
    .Features-leftGradientShape {
      fill: url(#Features-leftGradient);
    }
  </style>

  <g id="Gradient_Wave_Fill">
    <g class="Features-gradientGroup Features-gradientGroup1">
      <path
        class="Features-bottomGradientShape"
        d="M1917.4,109.1c-45.4,45.3-57.8,106.8-150,126.3c-85.6,18.1-84.8,136-143.8,136c-82,0-106,160-193,160
      c-37,0-41-22-91-22c-68,0-86,81-149,81c-43,0-49-27-92-27s-65,32-116,32s-62-41-140-41c-103,0-143,98-196,98c-40,0-39-30-72-30
      c-32,0-37,37-87,37c-54.3,0-81-68-123-68c-43,0-65.3,85.3-124,91c-41.2,4-51.2-15-77.2-9c-39.5,9.1-43.1,65.6-91,69
      c-42,3-43.6-30-69.8-30l-0.2,64h1999v-711C1998.4,65.3,1961,65.6,1917.4,109.1z"/>
      <path
        class="Features-innerGradientShape"
        d="M1916.4,109.1c-45.4,45.3-57.8,106.8-150,126.3c-85.6,18.1-84.8,136-143.8,136c-82,0-106,160-193,160
      c-37,0-41-22-91-22c-68,0-86,81-149,81c-43,0-49-27-92-27s-65,32-116,32c-51,0-62-41-140-41c-103,0-143,98-196,98
      c-40,0-39-30-72-30c-32,0-37,37-87,37c-54.3,0-81-68-123-68c-43,0-65.3,85.3-124,91c-41.2,4-51.2-15-77.2-9
      c-39.5,9.1-43.1,65.6-91,69c-42,3-43.6-30-69.8-30l-0.2,64h2000v-711C1998.4,65.3,1960,65.6,1916.4,109.1z"/>
    </g>
    <g class="Features-gradientGroup Features-gradientGroup2">
      <path
        class="Features-bottomGradientShape"
        d="M1917.4,109.1c-45.4,45.3-57.8,106.8-150,126.3c-85.6,18.1-84.8,136-143.8,136c-82,0-106,160-193,160
      c-37,0-41-22-91-22c-68,0-86,81-149,81c-43,0-49-27-92-27s-65,32-116,32s-62-41-140-41c-103,0-143,98-196,98c-40,0-39-30-72-30
      c-32,0-37,37-87,37c-54.3,0-81-68-123-68c-43,0-65.3,85.3-124,91c-41.2,4-51.2-15-77.2-9c-39.5,9.1-43.1,65.6-91,69
      c-42,3-43.6-30-69.8-30l-0.2,64h1999v-711C1998.4,65.3,1961,65.6,1917.4,109.1z"/>
      <path
        class="Features-innerGradientShape"
        d="M1916.4,109.1c-45.4,45.3-57.8,106.8-150,126.3c-85.6,18.1-84.8,136-143.8,136c-82,0-106,160-193,160
      c-37,0-41-22-91-22c-68,0-86,81-149,81c-43,0-49-27-92-27s-65,32-116,32c-51,0-62-41-140-41c-103,0-143,98-196,98
      c-40,0-39-30-72-30c-32,0-37,37-87,37c-54.3,0-81-68-123-68c-43,0-65.3,85.3-124,91c-41.2,4-51.2-15-77.2-9
      c-39.5,9.1-43.1,65.6-91,69c-42,3-43.6-30-69.8-30l-0.2,64h2000v-711C1998.4,65.3,1960,65.6,1916.4,109.1z"/>
    </g>
  </g>

  <g id="Background_Dotted_Wave">
    <path
      class="Features-dottedWaveShape"
      d="M1.6,748.4c95.2,0,78.8-77,147.3-88c37-5.9,58,22,90.7,22c59,0,78.4-145.9,121.4-145.9
    c42,0,71.2,162,125.6,162c50,0,55-104,87-104c33,0,32,30.3,72,30.3c53,0,83.1-88.4,166.5-88.4c80.1,0,99.4,84.1,148.5,97.7
    c52,14.4,94-43.2,137-43.2s49,31.4,92,31.4c63,0,76-113.3,141-133.2c43-13.2,62,19.6,99,19.6c87,0,111-182.5,193-182.5
    c59,0,71.2-202.3,136-217.2c46.8-10.7,89.8,13.3,136.8-29.7c44.8-41,68.4-64,106.2-64"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-1">
    <path class="Features-blueStroke" d="M222.9,603.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S222.9,607,222.9,603.2z"/>
    <line class="Features-dropletLine" x1="229.7" y1="609.6" x2="229.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-2">
    <path class="Features-blueStroke" d="M480.9,625.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S480.9,629,480.9,625.2z"/>
    <line class="Features-dropletLine" x1="487.7" y1="635.7" x2="487.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-3">
    <path class="Features-blueStroke" d="M644.9,569.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S644.9,573,644.9,569.2z"/>
    <line class="Features-dropletLine" x1="651.7" y1="582.6" x2="651.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-4">
    <path class="Features-blueStroke" d="M970.7,504.5c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9
    C973.9,511.4,970.7,508.3,970.7,504.5z"/>
    <line class="Features-dropletLine" x1="977.5" y1="511.6" x2="977.5" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-5">
    <path class="Features-blueStroke" d="M1189.9,545.1c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S1189.9,549,1189.9,545.1z"/>
    <line class="Features-dropletLine" x1="1196.7" y1="552.3" x2="1196.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-6">
    <path class="Features-blueStroke" d="M1421.9,426.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S1421.9,430,1421.9,426.2z"/>
    <line class="Features-dropletLine" x1="1428.7" y1="432.6" x2="1428.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-7">
    <path class="Features-blueStroke" d="M1487.9,305.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S1487.9,309,1487.9,305.2z"/>
    <line class="Features-dropletLine" x1="1494.7" y1="318.6" x2="1494.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-8">
    <path class="Features-blueStroke" d="M1633.9,154.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S1633.9,158,1633.9,154.2z"/>

    <line class="Features-dropletLine" x1="1640.7" y1="167.6" x2="1640.7" y2="776.6"/>
  </g>
  <g class="Features-dropletLineGroup" id="Features-dropletLine-9">
    <path class="Features-blueStroke" d="M1851.7,60.2c0-5.2,6.9-10.7,6.9-10.7s6.9,5.7,6.9,10.7c0,3.8-3.1,6.9-6.9,6.9S1851.7,64.1,1851.7,60.2z"/>
    <line class="Features-dropletLine" x1="1858.5" y1="73.6" x2="1858.5" y2="776.6"/>
  </g>
  <g id="Features-whiteWave">
    <path
      class="Features-whiteWaveLine"
      d="M2001.6,65.4c0,0-39.8-1.6-85.2,43.7s-57.8,106.8-150,126.3c-85.6,18.1-84.8,136-143.8,136
    c-82,0-106,160-193,160c-37,0-41-22-91-22c-68,0-86,81-149,81c-43,0-49-27-92-27s-65,32-116,32c-51,0-62-41-140-41
    c-103,0-143,98-196,98c-40,0-39-30-72-30c-32,0-37,37-87,37c-54.3,0-81-68-123-68c-43,0-65.3,85.3-124,91c-41.2,4-51.2-15-77.2-9
    c-39.5,9.1-43.1,65.6-91,69c-42,3-43.6-30-69.8-30"/>
  </g>
  <g id="Features-blueLine">
    <path
      class="Features-blueStroke"
      d="M2001.6,65.4c0,0-39.8-1.6-85.2,43.7s-57.8,106.8-150,126.3c-85.6,18.1-84.8,136-143.8,136
    c-82,0-106,160-193,160c-37,0-41-22-91-22c-68,0-86,81-149,81c-43,0-49-27-92-27s-65,32-116,32c-51,0-62-41-140-41
    c-103,0-143,98-196,98c-40,0-39-30-72-30c-32,0-37,37-87,37c-54.3,0-81-68-123-68c-43,0-65.3,85.3-124,91c-41.2,4-51.2-15-77.2-9
    c-39.5,9.1-43.1,65.6-91,69c-42,3-43.6-30-69.8-30"/>
  </g>
  <g id="Features-dots">
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
    <circle class="Features-dot" cx="0" cy="0" r="3.6"/>
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
    <circle class="Features-dot" cx="0" cy="0" r="3.6"/>
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
    <circle class="Features-dot" cx="0" cy="0" r="3.6"/>
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
    <circle class="Features-dot" cx="0" cy="0" r="3.6"/>
    <circle class="Features-dot" cx="0" cy="0" r="2.5"/>
  </g>
  <g id="Features-gradientBorders">
    <rect x="1.4" y="3.9" class="Features-leftGradientShape" width="360.7" height="772.5"/>
    <rect x="1640.9" y="3.9" class="Features-rightGradientShape" width="360.7" height="772.5"/>
  </g>

</svg>
</div>
<section id="investing">
    <div class="row"> 

<h3>Our Modern Strategy</h3>


	          <div class="col-xs-9 col-md-8"><p>InvestBlock has been involved in the cryptocurrency market since early 2012. Our advanced risk management plan strives to generate favorable and absolute returns by diversifying your investment. 
										 Market volatility poses risk, but also great opportunity. We have demonstrated to be ahead of the curve on most crypto gains, resulting in high capital ROI. 
									  </p>
		 </div>

    </div>
	<div class="col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-8"> <h3>Reduced Risk</h3></div>

<div class="col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-8"> <h3>Reduced FEES</h3></div>

<div class="col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-8"> <h3>Reduced Risk</h3></div>
</div>

---->
<div class="container">
  <h2>Basic Infographic</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 step1">
      <div class="row box shape-1">
        <div class="col-xs-2 col-sm-3 col-md-3 shape">
          <div class="number">
<%= image_tag("banklock.svg", size: "95x77", alt: "Risk", id: "Risk") %>
          </div>
        </div>
        <div class="col-xs-10 col-sm-9">		<h3 class="text-center">Reduced Risk</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in rhoncus arcu, et volutpat mauris.</p>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 text-center">
          <i class="material-icons md-56">&#xE873;</i>
        </div>
      </div>
    </div>
	
	
    <div class="col-xs-12 step2">
      <div class="row box shape-2">
        <div class="col-xs-2 col-sm-3 col-md-3 shape">
          <div class="number">
            <h1>02</h1>
          </div>
        </div>
        <div class="col-xs-10 col-sm-9">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in rhoncus arcu, et volutpat mauris.</p>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 text-center">
          <i class="material-icons md-56">&#xE6DF;</i>
        </div>
      </div>
    </div>
	
  

</section>
<div class="statistics">
        <div>
            <h2 class="title-one">Unstoppable Growth</h2>
            <div class="rings">
                <div class="pie pie1">
                    <div class="title">Identified Users</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>195,161</span>
                    </div>
                    <div class="arrow"></div>
                </div>

                <div class="pie pie2">
                    <div class="title">New Users</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>373</span>
                    </div>
                    <div class="arrow"></div>
                </div>

                <div class="pie pie3">
                    <div class="title">Anonymous Users</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>478,373</span>
                    </div>
                    <div class="arrow"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div>
            <h2 class="title-two">FrontEnd Activity</h2>
            <div class="circles">
                <div class="circle-one">
                    <div class="text">&nbsp;&nbsp;7,233<br />Created<br />&nbsp;&nbsp;Today</div>
                </div>
                <div class="circle-two">
                    <div class="text">Unique Pens<br />&nbsp;&nbsp;2,349,448</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div>
            <h2 class="title-three">Activity Breakdown</h2>
            <div class="h-bars">
                <div class="bar-one"></div>
                <div class="bar-two"></div>
                <div class="bar-three"></div>
                <div class="bar-four"></div>
                <div class="bar-five"></div>
                <div class="clear"></div>
            </div>
        </div>
      </div>
</div><!--end discovery chart-->





<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script>
<script src="jquery.drawsvg.js"></script>
<script  src="js/index.js"></script>