<footer class="footer">

  <small>
    Copyright 2018 InvestBlock. All rights reserved.
  </small>

    <ul>
      <li><%= link_to "Investing",   investing_path %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
</section>
</footer>